import react from '@vitejs/plugin-react'
import { defineConfig } from 'vite'
import path from 'path'
import { fileURLToPath } from 'url'

// derive __dirname since this file is ESM
const __dirname = path.dirname(fileURLToPath(import.meta.url));

// https://vite.dev/config/
const srcAlias = path.resolve(__dirname, 'src');
console.log('VITE alias @ ->', srcAlias);
export default defineConfig({
  logLevel: 'error', // Suppress warnings, only show errors
  resolve: {
    alias: {
      '@': srcAlias,
      '@/': srcAlias + '/'
    }
  },
  plugins: [
    react(),
  ]
});